# .gitattributes
*.csharp linguist-detectable=false
*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.cpp linguist-detectable=false

*.dart linguist-detectable=true

# Exclude CMake files from language detection
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false